.container{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 10px;
	margin-top: 2%;
	margin-left: 10px;
}

.arrange-cards{
	grid-column: 2/7;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.top-space{
	
	height: 10%;
  	max-height: 60px;
  	background: white;
  	color: white;
}
.left-space{
	left:%;
}