.toggle-button{
	display: flex;
	flex-direction: column; 
	justify-content: space-between;
	justify-self: center; 
	height:45%;
	width:3%;
	min-width: 10px;
	background: black;
	border: none;
}

.toggle-button-line{
	width: 100%;
	min-width: 20px;
	height: 2px;
	background: white;
}