p .cart-dropdown{
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background: black;
  justify-content: center;
  color: grey;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
}
p .cart-dropdown:hover{
  padding: 15px 0px 15px 0px;
   background: grey;
   color:white; 
}
.cart-dropdown option{
  margin: 15px 0px 15px 0px;
}
