.error-bar {
  display: flex;
  flex-direction: row;
  margin: 0;
  position: fixed;
  width: 20%;
  top: 7%;
  left: 45%;
  color: white;
  justify-content: center;
  overflow: hidden;
  background: rgba(215,0,0, 0.8);
  max-height: 30px;
  min-height: 20px;
  z-index: 100;
}