*{
	/*border: solid green 1px;*/
  margin: 0;
}
.topnav {
  width: 100%;
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  grid-template-columns: repeat(20, 1fr);
  height: 50px;
  max-height: 5%;
}
.button{
  margin-right: 3%;
  margin-left: 3%;
  height: inherit;
  background: black; 
  color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
   -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.button:hover {
  background-color: grey; /* Green */
  color: white;
}

.logo{
    text-decoration: none;
    color: white;
    grid-column: 2/3;
}
.toolbar-logo{
  margin-left: 5%;
}
.search-bar{
  margin-left: 1%;
  width: 15%;
  height: 60%;
}
.search{
  margin-left: 3px;
}
.home{
  margin-left: auto;
  padding: 1;
}
.logout{
  background: black;
  margin-right: 10px;
  grid-column: 20;
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.logout:hover{
  background-color: white;
    color: black;
}
